<img class="phone" src="{{phone.images.[0]}}">

<button data-element="button-back">Back</button>
<button>Add to basket</button>


<h1>{{phone.name}}</h1>

<p>{{phone.description}}</p>

<ul class="phone-thumbs">
    {{#each phone.images as |image| }}

        <li><img src="{{ image }}"></li>

    {{/each}}
</ul>
